body {
  margin-top: 50px;

  font-size: 14px;
  letter-spacing: 0.01em;
  color: #39464e;
  background: #f6f6f6
}

.navbar-default {
  background-color: #fff;
  margin-left: 200px;
}

/*main side bar*/
.msb {
  width: 200px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
}

.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}

.msb .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
}

.msb .navbar-nav .panel {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  background: inherit;
}

.msb .navbar-nav li {
  display: block;
  width: 100%;
}

.msb .navbar-nav li a {
  padding: 15px;
  color: #5f5f5f;
}

.msb .navbar-nav li a .glyphicon,
.msb .navbar-nav li a .fa {
  margin-right: 8px;
}

.msb .nb {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

ul.nv,
ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}

.nv {
  /*ns: nav-sub*/
}

.nv li {
  display: block;
  position: relative;
}

.nv li::before {
  clear: both;
  content: "";
  display: table;
}

.nv li a {
  color: #444;
  padding: 10px 25px;
  display: block;
  vertical-align: middle;
}

.nv li a .ic {
  font-size: 16px;
  margin-right: 5px;
  font-weight: 300;
  display: inline-block;
}

.nv .ns li a {
  padding: 10px 50px;
}

/*main content wrapper*/
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  /*content view*/
}

/*globals*/
a,
a:focus,
a:hover {
  text-decoration: none;
}

.tab {
  font-size: inherit;
}

.inbox .container-fluid {
  padding-left: 0;
  padding-right: 0;

}

.inbox ul,
.inbox li {
  margin: 0;
  padding: 0;
}

.inbox ul li {
  list-style: none;
}

.inbox ul li a {
  display: block;
  padding: 10px 20px;
}

.msb,
.mnb {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.page-content {
  padding: 10em;
  width: 1400px;
  margin: 0 auto;
  display: flex;
}

.mcw {
  -moz-animation: bodyslidein 300ms forwards;
  -o-animation: bodyslidein 300ms forwards;
  -webkit-animation: bodyslidein 300ms forwards;
  animation: bodyslidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #fff;
  margin: 0 auto;
  padding: 1cm;
  width: 100%;
}

body.msb-x .mcw,
body.msb-x .mnb {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body.msb-x .msb {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Slide in animation */
@-moz-keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@keyframes slidein {
  0% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@-moz-keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@-webkit-keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@keyframes slideout {
  0% {
    left: 0;
  }

  100% {
    left: -200px;
  }
}

@-moz-keyframes bodyslidein {
  0% {
    left: 0;
  }

  100% {
    margin-left: 200px;
  }
}

@-webkit-keyframes bodyslidein {
  0% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes bodyslidein {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 200px;
  }
}

@-moz-keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bodyslideout {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0;
  }
}

.panel-body {
  padding: 0;
  padding-left: 15px;
}


.cart-anchor-image>a {
  display: inline-block;
  width: 100%;

}

.cart-anchor-image>a>img {
  width: 50px;
  height: 50px;
  margin-right: 6px;
  display: inline-block;
}

.cart-anchor-image>a>div {
  display: inline-block;
  margin: 0;
  color: black;
  font-size: 13px;

}

.cart-anchor-image>a>h6 {
  display: inline-block;
  margin: 0;
  color: black;
  font-size: 13px;
  width: 80%;
  word-break: break-all;

}

#cssTable {
  width: 900px;
  border-collapse: collapse;
}

#cssTable td {
  vertical-align: middle;
}

#cssTable th {
  min-width: 130px;
  vertical-align: middle;
}

#cssTable a:hover {
  color: #ee4d2d;
  cursor: pointer;
}

#cssTable a {
  color: #ee4d2d;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
}

.table-03 {
  width: 1000px;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-03 th,
.table-03 td {
  padding: 15px;
  border: 2px solid #ccc;
}

.table-03 th {
  background-color: #dedede;
  color: #ee4d2d;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-03 a:hover {
  color: #ee4d2d;
  cursor: pointer;
}

.table-03 a {
  font-weight: 600;
  color: #ee4d2d;
}

#addButton {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #fff;
  background-color: #ee4d2d;
  border-color: #ee4d2d;
  height: 40px;
  min-width: 80px;
  padding: 0 16px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out
}

#addButton:hover {
  background-color: #d90429;
}

ol.go2441762052 li.go3842760039:before {
  border-radius: 1.2em;
  background-color: #ee4d2d;
}

ol.go2441762052 li.go433304200:before {
  border-radius: 1.2em;
  background-color: #ee4d2d;
}


.imgWrapper {
  position: relative;
  width: 100%;
}

.imgWrapper img {
  width: 100%;
  height: auto;
}

.imgWrapper .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.imgWrapper .btn:hover {
  border: 2px solid #ee4d2d;
  border-style: dashed;
  border-radius: 20px;
  cursor: pointer;
}

.imgWrapper i {
  background: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 15px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}